<div class="container">
  <div align="right">
    <a class="btn btn-success" [routerLink]="['']">Home</a>
    <a class="btn btn-success" style="margin: 2px;" [routerLink]="['/addemployee']"  >Add New Employee</a>
    <a class="btn btn-success" style="margin: 2px;" (click) = "onShowEmployeeList()">Show Employees</a>
  </div>

  <!-- <app-search-panel></app-search-panel> -->

  <h3>Employees List</h3>
  Search By Employee Name: 
  <input type="text" #txtSearchEmpName [(ngModel)] = "searchByEmpName" (input) = "filterData()">
  {{searchByEmpName}}
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Employee Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.id }}</td>
        <td>{{ emp.name }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.age }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/employees/', emp.id]"><i class="far fa-edit"></i></a>
          <button class="btn btn-danger" style="margin-left:2px;" (click)="onDeleteEmployee(emp.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
