.card-header {
    /* padding: 0px; */
}


.card-body {
    background-color: white;
    color: #000;
}

.row .entity-label {
    color: blue;
}

.imageClass{
    width:200px;
    height:200px;
    margin-bottom: 2px;
}
.vertical-align{
    display: flex;
    align-items: center;
}

